<%= form_for current_user do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(current_user.errors.count, "error") %> prohibited this current_user from being saved:</h4>

      <ul>
      <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <p>Tell us about yourself</p>
    <%= f.text_area :bio, placeholder: "Enter your professional summary", class: "form-control", label: "Tell us about yourself" %>
  </div>
  
  <div class="form-group">
    <p>What contact number?</p>
    <%= f.text_field :phonenumber, placeholder: "888-555-1234", class: "form-control", label: "What contact number?" %>
  </div>

  <% if current_user.servicer.blank? %>
    <br>
    <h1>Bank Account Information</h1>

    <div class="form-group">
      <%= label_tag :country %>
      <%= text_field_tag :country, nil, { :name => nil, :'data-stripe' => "country", class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= label_tag :routing_number %>
      <%= text_field_tag :routing_number, nil, { :name => nil, :'data-stripe' => "routingNumber", class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= label_tag :account_number %>
      <%= text_field_tag :account_number, nil, { :name => nil, :'data-stripe' => "accountNumber", class: "form-control" } %>
    </div>
  <% end %>

  <br>
  <div class="form-group">
    <%= f.submit " Submit ", class: "button button-small" %>
  </div>
<% end %>
