<%= form_for current_user do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(current_user.errors.count, "error") %> prohibited this current_user from being saved:</h4>

      <ul>
      <% current_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="form-group">
    <p>Tell us about yourself</p>
    <%= f.text_area :bio, placeholder: "Enter your professional summary", class: "form-control", label: "Tell us about yourself" %>
  </div>
  <div class="form-group">
    <p>What is your street address?</p>
    <%= f.text_field :street_address, placeholder: "12345 Fake St", class: "form-control", label: "What is your street address?" %>
  </div>
  <div class="form-group">
    <p>What is your city?</p>
    <%= f.text_field :city, placeholder: "Los Angeles", class: "form-control", label: "What is your city?" %>
  </div>
  <div class="form-group">
    <p>What is your state?</p>
    <%= f.text_field :state, placeholder: "California", class: "form-control", label: "What is your state?" %>
  </div>
  <div class="form-group">
    <p>What is your zipcode?</p>
    <%= f.text_field :zipcode, placeholder: "91919", class: "form-control", label: "What is your zipcode?" %>
  </div>
  <div class="form-group">
    <p>What contact number?</p>
    <%= f.text_field :phonenumber, placeholder: "888-555-1234", class: "form-control", label: "What contact number?" %>
  </div>

  <br>
  <div class="form-group">
    <%= f.submit " Submit ", class: "button button-small" %>
  </div>
<% end %>
