<div class="row  margin-top-20"> <!-- open main row -->
    <div class="col-xs-12 col-sm-8 col-md-8"> <!-- right side of page -->
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                    <%= image_tag(current_user.image, size: "125x125", class: "img-responsive img-circle") %>
            </div> <!-- close left side of left side -->
            <div class="col-xs-12 col-sm-9 col-lg-10">
                <div id="profile-style">
                    <h1><%= "#{current_user.fname} #{current_user.lname}" %></h1>
                        
                        <div id="">
                            <h3>Address</h3><%= current_user.full_address %>
                        </div>

                        <div id="">
                            <h3>Bio</h3><%= current_user.bio %>
                        </div>
                        <br>
                        <div>
                            <%= link_to "Show all of your skills", user_skills_path(current_user) %><br>
                            <%= link_to "Post a new skill", new_user_skill_path(current_user) %><br>
                        </div>


                    <div class="col-md-9 skillattributes">
                        <table class="table table-bordered table-hover spacing-table">
                            <thead>
                                <tr>
                                    <th class="col-md-5">Service</th>
                                    <th class="col-md-1">Subcategory</th>
                                    <th class="col-md-1">Price</th>
                                    <th class="col-md-1">Location</th>
                                    <th class="col-md-5">Description</th>
                                    <br>
                                    <br>
                                </tr>
                            </thead>
                            <tbody>
                                <% @skills.each do |skill| %> 
                                    <tr>
                                        <td><%=skill.title %></td>
                                        <td><%=skill.subcategory_id %></td>
                                        <td><%=skill.price %></td>
                                        <td><%=skill.full_address %></td>
                                        <td><%=skill.description %></td>
                                        <td><%= link_to "Edit", edit_user_skill_path(current_user, skill), class:"btn btn-info" %></td>
                                        <td><%= link_to 'Delete', user_skill_path(current_user, skill),
                                                  method: :delete,
                                                  data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %><br><hr></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

