<div class="row  margin-top-20"> <!-- open main row -->
    <div class="col-xs-12 col-sm-8 col-md-8"> <!-- right side of page -->
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                    <%= image_tag(current_user.image, size: "125x125", class: "img-responsive img-circle") %>
            </div> <!-- close left side of left side -->
            <div class="col-xs-12 col-sm-9 col-lg-10">
                <div id="profile-style">
                    <h1><%= "#{current_user.fname} #{current_user.lname}" %></h1>
                        <div id="">
                            <h3>Address</h3><%= @user.full_address %>
                        </div>
                        <div id="">
                            <h3>Bio</h3><%= @user.bio %>
                        </div>
                        <div id="">
                            <h3>Bio</h3><%= @user.bio %>
                        </div>
                        <div id="">
                            <h3>Bio</h3><%= @user.bio %>
                        </div>
                        <div>
                            <%= link_to "Show all of your skills", user_skills_path(current_user) %><br>
                            <%= link_to "Post a new skill", new_user_skill_path(current_user) %><br>
                        </div>

                        <div>
                            <% @skills.each do |skill| %>
                                <div class="skills">
                                    <h2><%=skill.title %></h2>
                                    <h4><%=skill.subcategory_id %></h4>
                                    <h4><%=skill.price %></h4>
                                </div>
                            <% end %>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

