<div class="form">

<h1 class="greeting">Hello <%= " #{@user.fname}" %>!</h1>

<h3>Are you a :</h3>

<!-- FORM FOR CHOOSING USER TYPE -->
<%= form_tag user_path, method: :patch do %>

 	<%= check_box_tag "user[servicer]", 0 %>
 	User 
 	 <%= check_box_tag "user[servicer]", 1 %>
 	Servicer 
 	<%= submit_tag "Update Users" %>

<% end %>

</div>