<div class="col-md-9 skillattributes">
	<table class="table table-bordered table-hover spacing-table">
		<thead>
			<tr>
				<th class="col-md-2">User</th>
				<th class="col-md-5">Service</th>
				<th class="col-md-1">Subcategory</th>
				<th class="col-md-1">Price</th>
			</tr>
		</thead>
		<tbody>
			<% @skills.each do |skill| %> 
				<tr>
					<td class="searchrow"><%=skill.user %></td>
					<td class="searchrow"><%=skill.title %></td>
					<td class="searchrow"><%=skill.subcategory_id %></td>
					<td class="searchrow"><%=number_to_currency(skill.price) %></td>
					<td class="searchrow"><%=link_to('See this Ad', user_skill_path(skill.user, skill.id))%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= will_paginate @skills %>
</div>


<div class="col-md-3 googlemap">
	<div id="googleMap"></div>
</div>
