<div class="col-md-6">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>User</th>
				<th>Service</th>
				<th>Location</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<% @skills.each do |skill| %> 
				<tr>
					<td><%=skill.user %></td>
					<td><%=skill.title %></td>
					<td><%=skill.subcategory_id %></td>
					<td><%=skill.price %></td>
				</tr>
					<% end %>
		</tbody>
	
	</table>
</div>


<div class="col-md-6">
	<div id="googleMap"></div>
</div>
<!-- 
	<div class="skillattributes">
		<div class="col col-md-2">
		User
		</div>
		<div class="col col-md-6">
		Service
		</div>
		<div class="col col-md-2">
		Location
		</div>
		<div class="col col-md-2">
		Price
		</div>
	</div>

	<% @skills.each do |skill| %>
	<div class="skills">
		<h2><%=skill.title %></h2>
		<h4><%=skill.subcategory_id %></h4>
		<h4><%=skill.price %></h4>
	</div>
	<!-- <% end %> -->