<%= form_for ([@user, @skill]) do |f| %>

<div class="form">
     <%= f.label :title, :class => "formtext" %><br>
     <%= f.text_field :title, :class => "formfield" %>
</div>

<div class="form">
    <%= f.label :Skill_Category, :class => "formtext", :class => "formtext" %><br>
    <%= f.grouped_collection_select :subcategory_id,
    Category.order(:name), :subcategories, :name,
    :id, :name %>
</div>

<div class="form">
    <%= f.label :description, :class => "formtext" %><br>
    <%= f.text_field :description, :class => "formfield" %>
</div>

<div class="form">
     <%= f.label :price, :class => "formtext" %><br>
	 <%= f.number_field :price, :class => "formfield" %>
</div>

<div class="form">
    <%= f.label :address, :class => "formtext" %><br>
    <%= f.text_field :address, :class => "formfield" %>
</div>
<div class="form">
    <%= f.label :city, :class => "formtext" %><br>
    <%= f.text_field :city, :class => "formfield" %>
</div>
<div class="form">
    <%= f.label :zipcode, :class => "formtext" %><br>
    <%= f.text_field :zipcode, :class => "formfield" %>
</div>
<div class="form">
    <%= f.label :state, :class => "formtext" %><br>
    <%= f.text_field :state, :class => "formfield" %>
</div><br>

<div class="form">
 <%= f.submit "Add new skill" %>
<% end %>
<br>
<br>
<%= link_to "Back to the list!", skills_path, :class => "skillsbtn" %>
</div>