<div class="col-md-9 skillattributes">
	<table class="table table-bordered table-hover spacing-table">
		<thead>
			<tr>
				<th class="col-md-2">Servicer</th>
				<th class="col-md-3">Service</th>
				<th class="col-md-5">Description</th>
				<th class="col-md-1">Price</th>
				<th class="col-md-1">Contact Information</th>
				<% if current_user %>
				<th class="col-md-1">Hire Now</th>
				<% end %>
			</tr>
		</thead>
	<tr>
		<td class="searchrow"><%=@skill.user.fname %></td>
		<td class="searchrow"><%=@skill.title %></td>
		<td class="searchrow"><%=@skill.description %></td>
		<td class="searchrow"><%=@skill.price.round(2) %></td>
		<% if current_user %>
			<td><%= @skill.user.phonenumber%></td>
			<td><%= link_to "Buy It Now", new_user_skill_charge_path(@user, @skill), class: "btn btn-primary", data: { no_turbolink: true } %>
		<% else %>
			<td><a href="/auth/linkedin">Please log in to contact this user</a></td>
		<% end %>


	</tr>

