<div class="col-md-8 skillattributes">
	<table class="table table-bordered table-hover spacing-table">
	<tr>
		<td class="searchrow">
			<%= image_tag(@skill.user.image, size: "75x75", class: "img-circle") %><br>
			<%=@skill.user.fname %>
		</td>
		<td class="searchrow skillshowtitle">
		<h4><%=@skill.title %></h4>	
		<% if current_user %>
			<%=@skill.address %><br>
		<% end %>
		<%= @skill.city %>, <%=@skill.state %><br>
		</td>
		<td class="searchrow skillshowprice"><br><%=number_to_currency(@skill.price) %></td>
		<% if current_user %>
			<td class="searchrow"><%= link_to "Buy It Now", new_user_skill_charge_path(@user, @skill), class: "btn btn-primary", data: { no_turbolink: true } %><br>
				<%= link_to "Call", tel:@skill.user.phonenumber %><br>
				<%= mail_to @skill.user.email,"Email" %>
		<% else %>
			<td><a href="/auth/linkedin">Please log in to contact this user</a></td>
		<% end %>
	</tr>
</td>
</tr>
</table>
	<div class="aboutskill">
	<strong>About This Listing</strong><br>
	<%=@skill.description %><br>
	</div>
</div>



<div class="col-md-4 googlemap">
	<div id="googleMap">
	</div>
</div>

