<%= form_tag skills_path, method: :get do |f| %>
    <div class="dropdown">
    	<a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary col-md-3" data-target="#" href="/page.html">
        What are you looking for? <span class="caret"></span>
    	</a>
			<ul class="dropdown-menu multi-level col-md-3" role="menu" aria-labelledby="dropdownMenu">
			
				<% @categories.each do |category| %>
      			<li class="dropdown-submenu">
      				<a class="category" tabindex="-1" type="category" value=<%= category.id  %> ><%= category.name %></a>
     				  <ul class="dropdown-menu col-md-12">
     				  	<% category.subcategories.each do |subcategory| %>	
          					<li><a class="subcategory" tabindex="-1" type="subcategory" value=<%= subcategory.id %> ><%= subcategory.name %></a></li>  				
            		<% end %>
            	</ul>
            </li>
       	<% end %> 
       </ul>
    
    			
		</div>
		<div class ="col-md-2">
			<%= text_field_tag :search, nil, placeholder: 'Where?',class: 'form-control' %>
		</div>
		<div class ="col-md-2">
		<%= submit_tag "Search",class: 'form-control btn-warning' %>
		</div>
	<% end %>

