<div class="col-md-9 skillattributes">
	<table class="table table-bordered table-hover spacing-table">
		<thead>
			<tr>
				<th class="col-md-1"><%= sortable "user", "User" %></th>
				<th class="col-md-4"><%= sortable "title", "Service" %></th>
				<th class="col-md-1"><%= sortable "subcategory_id", "Subcategory" %></th>
				<th class="col-md-1"><%= sortable "price", "Price" %></th>
				<th class="col-md-1"><%= sortable "zipcode", "Zipcode" %></th>
			</tr>
		</thead>
		<tbody>
			<% @skills.each do |skill| %> 
				<tr>
					<td class="searchrow"><strong><%=skill.user.fname %></strong><br>
					<%= image_tag skill.user.image %>
					</td>
					<td class="searchrow"><strong><%=skill.title %></strong><br>
					<%= skill.description %>
					</td>
					<td class="searchrow"><strong><%=skill.subcategory.name %></strong></td>
					<td class="searchrow"><strong><%= number_to_currency(skill.price) %></strong></td>
					<td class="searchrow"><strong><%=skill.zipcode %></strong></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<div class="col-md-3 googlemap">
	<div id="googleMap"></div>
</div>
