<div class="col-md-8 skillattributes">
	<table class="table table-bordered table-hover spacing-table">
		<thead>
			<tr>

				<th class="col-md-2"><%= sortable "user", "User" %></th>
				<th class="col-md-5"><%= sortable "title", "Service" %></th>
				<th class="col-md-1"><%= sortable "subcategory_id", "Subcategory" %> </th>
				<th class="col-md-1"><%= sortable "price", "Price" %></th>
				<th class="col-md-1"><%= sortable "zipcode", "Zipcode" %></th>
			</tr>
		</thead>
		<tbody>
			<% @skills.each do |skill| %> 
				<tr>
					<td class="searchrow"><%=skill.user %></td>
					<td class="searchrow"><%=skill.title %></td>
					<td class="searchrow"><%=skill.subcategory.name %></td>
					<td class="searchrow">$<%=skill.price %></td>
					<td class="searchrow"><%=skill.zipcode %></td>

				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<div class="col-md-4 googlemap">
	<div id="googleMap"></div>
</div>
