<div class="center">
  <h2>Your Purchase History</h2>
</div>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Skill</th>
    <th class="center">Price</th>
    <th class="center">Seller</th>
    <th class="center">Date Purchased</th>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td class="center"><%= order.skill.title %></td>
      <td class="center"><%= number_to_currency(order.skill.price) %></td>
      <td class="center"><%= order.seller.fname %></td>
      <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
      <% if current_user %>
        <td class="center"><%= rating_for order, "rating", :disable_after_rate => true %>
      <% end %>
    </tr>
  <% end %>
</table>

<br>