<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nowistar</title>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCcDzoLjzUw8Rc9Nbe88x2Gnx6agnwYUgw"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <% if session['auth'] %>
        <li><a href="/sessions/show">Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <% else %>
        <li><a href="/auth/facebook">Login via Facebook</a></li>
        <li><a href="/auth/linkedin">Login via LinkedIn</a></li>
        <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
        <% end %>
    </ul>
</nav>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1444726355828797',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
  
<%= yield %>

</body>
</html>
