<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skill search - Nowistar</title>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCcDzoLjzUw8Rc9Nbe88x2Gnx6agnwYUgw"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => "pk_test_6pRNASCoBOKtIshFeQd4XMUh" %>

</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top navbar-default">
    <ul class="nav navbar-nav">
        <li class="logo"><a href="/">nowistar</a></li>
        <% if current_user %>
        <li><a href="/users/<%= current_user.id %>">Profile</a></li>
        <li><a href="/users/<%= current_user.id %>/edit">Edit Profile</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><img src="<%= current_user.image %>" width="50" /></li>
        <% else %>
        <li><a href="/auth/facebook">Login via Facebook</a></li>
        <li><a href="/auth/linkedin">Login via LinkedIn</a></li>
        <% end %>
    </ul>
</nav>


  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
