<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skill search - Nowistar</title>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCcDzoLjzUw8Rc9Nbe88x2Gnx6agnwYUgw"></script>
  <script src ="http://jawj.github.io/OverlappingMarkerSpiderfier/bin/oms.min.js"</script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js" type="text/javascript"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico">
  <script src="https://js.stripe.com/v2/"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => "pk_test_6pRNASCoBOKtIshFeQd4XMUh" %>
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-default" id="navbar-contain">
    <div class="col-md-1"></div>
    <ul class="nav navbar-nav col-md-10">  
    <div class="logo"><a href="/">nowistar</a></div>
        <% if current_user %>
        <li><a href="/auth/logout">LOGOUT</a></li>
        <li><a href="/users/<%= current_user.id %>/edit">EDIT PROFILE</a></li>
        <li><a href="/users/<%= current_user.id %>">MY ACCOUNT</a></li>
        <li><a href="/statics/about<%= current_user.id %>/edit">HOW IT WORKS</a></li>
        <% else %>
        <li><a href="/auth/facebook">LOGIN VIA FACEBOOK</a></li>
        <li><a href="/auth/linkedin">LOGIN VIA LINKEDIN</a></li>
        <% end %>       
    </ul>
    <div class="col-md-1"></div>
</nav>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
